<section id="home" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                <span class="text">Hakkımda</span>
                <h1 class="mb-4 title">
                    Merhaba, <span class="type-js"><span class="text-js">Ben Okan Aksu</span></span><br>
                    Bilgisayar Mühendisiyim.
                </h1>
                <p class="mx-lg-5">
                    Yeni Mezun Bilgisayar Mühendisiyim ve Backend Geliştiricisiyim.
                    İşinize yeni başlangıçlar yapabilirim!
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-lg-auto col-md-10">
                    <img src="~/Templates/iportfolio-starter/assets/images/banner.png" alt="" class="img-fluid mt-lg-5 mt-3">
                </div>
            </div>
            <ul class="follow-social">
                <li><p>Sosyal Medya</p></li>
                <li><a href="https://www.instagram.com/okann.akksu/"><span class="fa fa-behance"></span></a></li>
                <li><a href="https://www.linkedin.com/in/okan-aksu-892b73223/?originalSubdomain=tr"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://www.instagram.com/okann.akksu/"><span class="fa fa-facebook-official"></span></a></li>
                <li><a href="https://twitter.com/cakirr_okann"><span class="fa fa-twitter"></span></a></li>
            </ul>
        </div>
    </div>
</section>

